altgraph==0.17.4
colorama==0.4.6
coverage==7.5.4
et-xmlfile==1.1.0
iniconfig==2.0.0
numpy==2.0.0
openpyxl==3.1.4
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pluggy==1.5.0
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
PyMuPDF==1.24.6
PyMuPDFb==1.24.6
PyPDF2==3.0.1
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6-sip==13.6.0
pytest==8.2.2
pytest-cov==5.0.0
pytest-qt==4.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
QDarkStyle==3.2.3
QtPy==2.4.1
setuptools==70.1.0
six==1.16.0
tzdata==2024.1
